:root {
  --color-header: #ffcfba;
  --color-background: #baf0ff;
  --color-footer: #fff1ba;
  --board-dimension: 6;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  transition: background-color 0.5s;

  &:hover {
    text-decoration: underline;
    background-color: var(--color-background);
  }
}

ul {
  list-style: none;
  margin: 0;
}

button {
  width: 2.625rem;
  height: 2.625rem;
}

.root {
  background-color: var(--color-background);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.container {
  display: flex;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(var(--board-dimension), 1fr);
  padding: 20px 0;
  gap: 2px;
}

.main-header {
  padding: 10px 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 120px;
  background-color: var(--color-header);
}

.main-header__title {
  margin: 0;
  font-family: "Rubik Glitch", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  text-align: center;
  font-size: 2.5rem;
}

.main-header__text {
  text-align: center;
  font-size: 1.25rem;
}

.main-footer {
  padding: 10px 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 120px;
  background-color: var(--color-footer);
  font-size: 0.75rem;
}

.main-footer__text-cc {
  margin: 0;
  text-align: center;
}

.main-footer__year {
  font-family: "Rubik Glitch", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
}
